In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
#can be reused for other scripts
def load_dataset(input_file,folder = "dataset/"):
    return pd.read_csv(folder+input_file,encoding='utf-8')


train = load_dataset('train.csv')

In [56]:
members = load_dataset('members.csv')
members.head(2)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622

In [58]:
NumberOfTotalEvents = train.groupby('msno').size()
NumberOfPositive = train[train['target']== 1].groupby('msno').size()

In [59]:
#getting the total events per members
df = NumberOfTotalEvents.to_frame()
df['msno'] = df.index
df.index.name = None
df = pd.DataFrame(df.values)
df = df.rename(columns={0:'nb_events',1:'msno'})

In [60]:
#getting the total Positive events per members
df2 = NumberOfPositive.to_frame()
df2['msno'] = df2.index
df2.index.name = None
df2 = pd.DataFrame(df2.values)
df2 = df2.rename(columns={0:'positive_events',1:'msno'})

In [61]:
members_updated = members.join(df.set_index('msno'),on='msno').join(df2.set_index('msno'),on='msno')

In [65]:
members = members_updated
members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date,nb_events,positive_events
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920,668,560
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622,13,NaN
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712,23,11
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907,8,NaN
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613,3,NaN

In [66]:
members['positive_events'].value_counts()

1       1389
2        848
3        586
4        507
5        440
6        376
7        330
9        286
11       284
8        274
10       265
12       252
14       245
13       226
16       220
15       208
17       201
20       192
19       187
18       183
23       177
26       175
22       166
28       166
21       164
25       155
24       151
29       149
39       139
31       139
        ...
906        1
607        1
639        1
899        1
848        1
849        1
850        1
851        1
854        1
858        1
862        1
863        1
621        1
619        1
869        1
871        1
872        1
873        1
874        1
616        1
881        1
882        1
612        1
885        1
886        1
888        1
890        1
609        1
895        1
3288       1
Name: positive_events, Length: 984, dtype: int64